/streamlit/machinelearningenv/
/langchain/langchainenv/
/simple-chatbot-projects/chatbotenv
/*.pyc
__pycache__/
langchain/.env
/LCEL/lcelenv
LCEL/.env
simple-chatbot-projects/openai-chatbot/.env
simple-chatbot-projects/ollama-chatbot/.env